.about-wrapper{
    background-color: #597a722b;
    padding-top: 4rem;
    padding-bottom: .5rem;
}

.aboutMe{
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 7rem;
    
}

.about-title{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
    font-family: 'Bebas Neue', sans-serif;
    color: #405852;
}

.about-sections {
    border-left: .01rem gray solid;
    box-shadow: 2px  1px rgba(128, 128, 128, 0.732);;
}


@media (min-width: 600px) and (max-width: 1200px) {
    .aboutMe{
        max-width: 85%;
    }
}

@media (min-width: 1201px) {
    .aboutMe{
        max-width: 60%;
    }
}

