
body p{
    font-family: 'Poppins', sans-serif;
  }
  
  .app-cursor {
    /* border: 1px solid #04cca4a3; */
    width: 25px;
    height: 25px;
    position: absolute;
    background: none;
    border-radius: 50%;
    z-index: 999;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    pointer-events: none;
    animation: cursorAnim 0.5s infinite alternate;
  }
  
  /* Animation for 2nd outer circle */
  .app-cursor::after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    border: 8px solid #31423e;
    border-radius: 50%;
    opacity: 0.5;
    top: -9px;
    left: -9px;
    z-index: -1;
    animation: cursorAnim2 0.5s infinite alternate;
    animation-delay: 0.7s;
  }
  
  /* Keyframe animations */
  @keyframes cursorAnim {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(2);
    }
  }
  
  @keyframes cursorAnim2 {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.4);
    }
  }
  
  @keyframes cursorAnim3 {
    0% {
      transform: scale(2);
    }
    50% {
      transform: scale(5);
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  .expand {
    animation: cursorAnim3 0.5s forwards;
    border: 1px solid rgba(88, 121, 113,.64);
  }
  
  
@keyframes rotate {
    0% {
   transform: rotate(0deg);
}
100% {
   transform: rotate(360deg);
}
}
.out-top {
animation: rotate 20s linear infinite;
transform-origin: 13px 25px;
}
.in-top {
animation: rotate 10s linear infinite;
transform-origin: 13px 25px;
}
.out-bottom {
animation: rotate 25s linear infinite;
transform-origin: 84px 93px;
}
.in-bottom {
animation: rotate 15s linear infinite;
transform-origin: 84px 93px;
}

